.Call_Page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

#Contacts_List{
    margin-top: 19px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(4, 4, 78);
    padding: 30px;
    max-width: 250px;
    font-size: 15px;
    background-color: white;
}
#Video_div{
    margin-left: 10px;
}
#Resources{
    margin-top: 19px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(4, 4, 78);
    padding: 30px;
    max-width: 250px;
    font-size: 15px;
    background-color: white;
}
.section1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;
}
.section2{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1384b8;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 60px;
}
#First3Icons{
    padding-left: 10px;
    gap: 1em;
    display: flex;
}
#icon2{
    margin-right: 60px;
    gap: 1em;
    display: flex;
}
#btn_file{
    background-color: #00cfc8;
    height:45px;
    border:none;
    border-radius: 10px;
}
#btn_chat{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;

    background-color: #00cfc8;
    height:45px;
    border:none;
    border-radius: 10px;
}
#btn_share_screen{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: #00cfc8;
    height:45px;
    border:none;
    border-radius: 10px;
}

.icon3 button{
    background-color: #00cfc8;
    
    height:45px;
    border:none;
    border-radius: 10px;
    padding-right: 5px;
}
.icon3 svg{
    color:red;
    font-size: 1.2em;
}