.ForgotPassword{
    text-align: center;
    margin-top: 60px;
    color: white;
    border: 1px solid white;
    height: 100%;
    margin-left: 520px;
    margin-right: 520px;
    border-radius: 20px;
}

#btn-reset{
    margin-top: 14px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 18px;
    margin-bottom: 15px;
    background-color: white;
    color: black;
    font-size: 15px;
}
#btn-reset:hover{
    cursor: pointer;
}
#Forgot-password-h1{
    color: white;
}
#Input-Email{
    color: white;
}